JSON File.json
[{"id":"fddf53c.b65e7b","type":"http request","z":"6d5f31c.3f75ed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":579,"y":468.9999952316284,"wires":[["2dfc2d80.67a4e2"]]},{"id":"9902b93a.91b438","type":"function","z":"6d5f31c.3f75ed","name":"PreToken","func":"global.set(\"ae\",msg.payload.ae)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bi\",msg.payload.bi)\nglobal.set(\"cr\",msg.payload.cr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"yg7v6CHeo_FC-NHFOSjZN7_VanXF-dA8vdsRiGnpyuZ4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":480,"wires":[["fddf53c.b65e7b"]]},{"id":"f355d33b.e3978","type":"debug","z":"6d5f31c.3f75ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1018.0000114440918,"y":210.99999713897705,"wires":[]},{"id":"2dfc2d80.67a4e2","type":"function","z":"6d5f31c.3f75ed","name":"Pre Prediction","func":"var ae = global.get('ae')\nvar sx = global.get('sx')\nvar bi = global.get('bi')\nvar cr = global.get('cr')\nvar sk = global.get('sk')\nvar rg = global.get('rg')\nvar token=msg.payload.access_token\nvar instance_id=\"62581313-25c2-48bc-981d-51395aa4935d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[ae,sx,bi,cr,sk,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":776.0000076293945,"y":431.9999990463257,"wires":[["e84af46d.de7fe8"]]},{"id":"e84af46d.de7fe8","type":"http request","z":"6d5f31c.3f75ed","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/30b4a6fb-5726-4a21-ba86-5013d6ffe4e0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":869.5000076293945,"y":375.9999990463257,"wires":[["e16a7fdc.b4857","f355d33b.e3978"]]},{"id":"e4302c43.28ff3","type":"ui_form","z":"6d5f31c.3f75ed","name":"","label":"","group":"f2bfb49.3609c48","order":0,"width":0,"height":0,"options":[{"label":"age","value":"ae","type":"number","required":true,"rows":null},{"label":"sex","value":"sx","type":"text","required":true,"rows":null},{"label":"bmi","value":"bi","type":"number","required":true,"rows":null},{"label":"children","value":"cr","type":"number","required":true,"rows":null},{"label":"smoker","value":"sk","type":"text","required":true,"rows":null},{"label":"region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ae":"","sx":"","bi":"","cr":"","sk":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":171,"y":522.9999952316284,"wires":[["9902b93a.91b438"]]},{"id":"eb10a3ce.e9eb2","type":"ui_text","z":"6d5f31c.3f75ed","group":"f2bfb49.3609c48","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":897.6000366210938,"y":528.2000074386597,"wires":[]},{"id":"e16a7fdc.b4857","type":"function","z":"6d5f31c.3f75ed","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":729.6000366210938,"y":271.60000133514404,"wires":[["eb10a3ce.e9eb2"]]},{"id":"f2bfb49.3609c48","type":"ui_group","z":"","name":"Default","tab":"b3c1b03.83e7e5","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3c1b03.83e7e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]